.todolist-title{
  color: red;
  font-size: 1.5rem;
  font-family:  'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.To-do-list{
  width: 70%;
  height: 500px;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.input-field{
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-button{
  padding: 10px;
  width: 15%;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.list-items{
  list-style: none;
  padding: 50px 0 ;
}
.item{
  padding: 10px;
}
.text{
  font-size: 1.5rem;
  font-family: 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
}
.delete-button{
  padding: 10px;
  width: 15%;
  background-color: #e90b0ba0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;

}
.up-button , .down-button{
  padding: 10px;
  width: 15%;
  background-color: #0b7ee9a0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;

}
.notFoundImage{
  width: 250px;
  height:250px
}
